<base href="/detail">
<div id="detail-page">
    <div class="grid-section">
        <div class="grid-title" [style.background-image]="'url('+this.currentItem['img']+')'">
            <a id="grid-home-link" href="/">
                <img src="../../../../assets/home.png"/>
            </a>
            <h1>
                {{currentItem['id']}}
            </h1>
<!--            <img src="{{}}"/>-->
        </div>
        <div class="grid-bio">
            <p>
                {{currentItem['bio']}}
            </p>
        </div>
        <div class="grid-card" *ngFor="let img of currentItem['images']">
            <img class="grid-img" src="{{img}}"/>
        </div>
        <div class="grid-card grid-links">
            <a class="grid-link" *ngFor="let link of currentItem['links']" href="{{link['link']}}" target="_blank">
                <img src="{{link['img']}}"/>
            </a>
        </div>
    </div>
</div>