#detail-page {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    background: var(--main-bg-color);
}
.grid-section
{    
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    max-width: 100%;
}
.grid-section .grid-title {
    box-shadow: var(--box-shadow-default);
    background: var(--main-dark-color);
    background-position: 100% 40%;
    background-size: 48%;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    height: 20vh;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
}
#grid-home-link {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 10vh;
    transform: translateY(-100%);
    margin: 16px;
    opacity: 0.48;
    transition: all 0.48s ease;
}
#grid-home-link img {
    width: 32px;
}
#grid-home-link:hover {
    opacity: 1.0;
}
.grid-section .grid-title h1 {
    color: var(--main-light-color);
    margin: 48px;
}
.grid-section .grid-bio {
/*    box-shadow: 0px 0px 8px 2px inset var(--secondary-light-color);*/
    margin-top: 20vh;
    background: var(--main-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-section .grid-bio p {
    margin: 16px 48px 16px 48px;
    max-width: 400px;
}

.grid-section .grid-title, .grid-section .grid-bio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-section .grid-card {
    width: 50%;
    height: 50%;
    overflow: hidden;
    transition: all 0.48s ease;
}
.grid-section .grid-card .grid-img {
    width: 100%;
    height: auto;
    opacity: 0.48;
    transition: all 0.48s ease;
}
.grid-section .grid-card:hover .grid-img {
    opacity: 1.0;
}

.grid-section .grid-card.grid-links { 
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.grid-section .grid-card.grid-links .grid-link img {
    cursor: pointer;
    filter: blur(0px) brightness(100.1) contrast(10) grayscale(100) hue-rotate(0deg) invert(0.0) opacity(100%) saturate(0.0) sepia(0.0) drop-shadow(1px 1px 2px rgba(0,0,0,0.48));
    transition: all 0.48s ease;
}
.grid-section .grid-card.grid-links .grid-link img:hover {
    cursor: pointer;
    filter: blur(0px) brightness(100.1) contrast(10) grayscale(100) hue-rotate(0deg) invert(0.48) opacity(100%) saturate(0.0) sepia(0.0) drop-shadow(8px 8px 12px rgba(0,0,0,0.24))
}

/*

@media screen and (max-width: 384px) {
    .grid-section .grid-title h1 {
        font-size: 24px;
    }    
}
*/

@media screen and (max-width: 424px) {
    .grid-section .grid-card {
        width: 100%;
    }
}

@media screen and (max-width: 584px) {
    .grid-section .grid-title h1 {
        font-size: 48px;
    }    
}

@media screen and (min-width: 748px) {
    .grid-section .grid-card {
        width: 33.33%;
    }
    .grid-section .grid-card.grid-links { 
        width: 100%;
    }
}