<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="background">
        <div class="title-container"  #box id="box">
            <div class="text-container parallax-layer" id="l1">
                <h1>
                    {{title}}
                </h1>
            </div>
            <div class="text-container parallax-layer" id="l2">
                <h3 class="blurry-text">
                    {{subtitle1}}
                    <span>{{subtitle2}}</span>
                </h3>
            </div>
        </div>
        
        <div id="nav-btn" (click)="titleSwitch()">
            <a>
                <div class="img"></div>
            </a>
        </div>
        <app-content [showContent]='titleBool'>
        </app-content>
    </div>
</div>
