
.loop {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

::scrollbar {
  display: none;
}

.scroll-sec {
    position: relative;
    padding: 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.scroll-sec.inwindow {
    opacity: 1;
}
.scroll-sec.enter {
    transition: all 0.48s ease;
}

#title-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 72px;
    color: transparent;    
    line-height: 64px;
    margin: 0;
}

.blurry-text {
   text-shadow: 0 0 36px #f4f4f4;
   color: transparent;
    
   transition: color 1.48s ease, text-shadow 1.48s ease;
}

/*#18110f;*/
.title.row, .subtitle.row {
    margin: 16px;
}

.subtitle h3 {
    font-size: 24px;
    font-variant: all-small-caps;
    /*background-image: linear-gradient(to bottom, #323232 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;*/
    color: transparent; 
    margin-right: 8px;
    transition: all 0.48s ease;
}

.subtitle h3.selected {
    color: #f4f4f4;
    background-position: 0 0;
}
.subtitle h3.enter, .title h1.enter {
    color: #f4f4f4;
    text-shadow: 0 0 36px transparent;
}

.subtitle hr {
    margin-top: 12px;
    margin-bottom: 0;
    width: 1px;
    border-top: 1px solid #f4f4f4;
    transition: all 0.48s ease;
}

.subtitle hr.enter {
    width: 100%;
}

.filler {
    width: 100%;
}

/*   INTRO STUFF   */
.intro-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
/*    max-width: 600px;*/
    margin: 0px;
    
    position: fixed;
    width: auto;
    bottom: 16px;
    right: 8px;
    z-index: 600;
}

#links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.link {
    width: 50%;
    height: 50%;
/*    overflow: hidden;*/
    margin: 0;
    padding: 0;
    display: flex; 
/*    flex-basis: calc(50% - 40px);  */
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-repeat: no-repeat;
/*    background:*/
    background-position: center;
    background-size: 25px 25px;
}

.link-overlay {
/*    background-color: #cbcbcb;*/
    opacity: 1.0;  
    -webkit-filter: blur(0px) brightness(100.1) contrast(10) grayscale(100)                    hue-rotate(0deg) invert(0.0) opacity(100%) saturate(0.0) sepia(0.0);
}

.link-overlay:hover {
    transition: -webkit-filter 0.48s ease;
/*    opacity: .48;*/
    -webkit-filter: blur(0px) brightness(100.1) contrast(10) grayscale(100)                    hue-rotate(0deg) invert(0.48) opacity(100%) saturate(0.0) sepia(0.0);
}

.dark {
    background: rgba(49, 49, 49, 0.92);
    padding: 4px;
}

/* prof pic */
#prof .img-holder {
    width: 100%;
}

/*css declaration only for Chrome/Safari*/
@media screen and (-webkit-min-device-pixel-ratio:0)  {
    #links {
/*        margin-right: 40px;*/
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 360px) {
      .prof-pic {
        margin-right: 40px;
    }
}


@media screen and (max-width: 360px) {
    #displayer {
        padding: 16px;
        width: 100%;
        height: 40%;
    }
    
    .title h1 {
        font-size: 36px;
    }
    .subtitle h3 {
        font-size: 16px;
    }
    .intro-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    #links { 
        width: 74px;
        height: 74px;
/*        flex-wrap: wrap-reverse;*/
    }
}

@media screen and (min-width: 360px) {
    #displayer {
        padding: 16px;
        width: 100%;
        height: 40%;
    }

    .title.row, .subtitle.row {
        margin: 16px;
    }
    .title h1 {
        font-size: 64px;
    }
    .subtitle h3 {
        font-size: 16px;
    }
    #links { 
        width: 74px;
        height: 74px;
/*        flex-wrap: wrap-reverse;*/
    }
    .hexagon-in2 {
        background-size: 150px;
    }
}
@media screen and (min-width: 470px) and (max-width: 600px) {
    #displayer {
        padding: 16px;
        width: 100%;
        height: 48%;
    }
}
@media screen and (min-width: 620px) {
    #displayer {
        padding: 16px;
        width: 100%;
        height: 60%;
    }
}

@media screen and (min-width: 720px) {
    .title h1 {
        font-size: 72px;
    }
    .subtitle h3 {
        font-size: 24px;
    }
   #links { 
        width: 250px;
        height: 100px;
        flex-wrap: nowrap;
    }
    .hexagon-in2 {
        background-size: 200px;
    }
}