h3 span {
    color: red;
}

p {
	font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
    color: #323232
}

/*title container*/
.blurry-text {
   text-shadow: 0 0 36px black;
   color: transparent;
    
   transition: color 1.48s ease, text-shadow 1.48s ease;
}
.blurry-text span {
    text-shadow: 0 0 36px red;
    color: transparent;
   
    transition: color 1.48s ease, text-shadow 1.48s ease;
}

h3:hover{
    color: #323232;
    text-shadow: 0 0 36px transparent;
}
h3:hover span {
    color: red;   
    text-shadow: 0 0 36px transparent;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #dddbdb; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fffdf9 0%, #dddbdb 99%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #fffdf9 0%, #dddbdb 99%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #fffdf9 0%, #dddbdb 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdf9', endColorstr='#d1bfbf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    height: 100%;
    width: 100%;
    opacity: 0.0;
    transition: opacity 1.48s ease;
}

.title-container.visible {
    opacity: 1.0;
}

/*text-container*/
.text-container h1, .text-container h2, .text-container h3 {
    margin: 8px;
}

#l1 {
    position: absolute;
    width: 100%;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

#l2 {
    position: absolute;
    width: 100%;
    top: 56%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}