<!--The content below is only a placeholder and can be replaced.-->
<div  [@enterAnimation] class="row loop js-loop">
    <div id="title-content" class="scroll-sec">
        <div id="title-holder" class="dark">
            <div class="title row">
                <h1 class="blurry-text await">{{title}}</h1>
            </div>
            <div class="subtitle row">
                <h3 class="blurry-text await">
                    {{subtitle1}}
                </h3>
                <h3 class="blurry-text await">
                    {{subtitle2}}
                </h3>
                <h3 class="blurry-text await">
                    {{subtitle3}}
                </h3>
                <div class="filler">
                    <hr class="await">
                </div>
            </div>
        </div>
    </div>
    <app-content-holder></app-content-holder>
    <div class="row intro-container">
        <div id="links">
           <div class="link-overlay link" *ngFor="let sq of intro_links"
                [style.background-image]="'url('+sq.src+')'" (click)="goTo(sq.link)">
           </div>
        </div>
    </div>
    <a href="https://icons8.com" class="adv-icons"> Icon pack by Icons8</a>
</div>
