<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="back-container">
        <div class="background" id="background">
        </div>
        <div class="title-container"  #box id="box">
            <div class="text-container parallax-layer" id="l1">
                <h1>
                    {{title}}
                </h1>
            </div>
            <div class="text-container parallax-layer" id="l2">
                <h3 class="blurry-text">
                    {{subtitle1}}
                    <span class="">{{subtitle2}}</span>
                </h3>
            </div>
        </div>        
        <img id="nav-btn" [src]="getImgPath()" (click)="titleSwitch()">
        <app-content [showContent]='titleBool'>
        </app-content>
        <div class="row intro-container">
            <div class="prof-pic">
                <div class="insetter">
                    <a class="effect-underline" (click)="goTo(resumeLink)">
                        <h4>Resume</h4>
                    </a>
                </div>
            </div>

            <div id="links">
               <div class="link-overlay link" *ngFor="let sq of intro_links"
                    [style.background-image]="'url('+sq.src+')'" (click)="goTo(sq.link)">
               </div>
            </div>
        </div>
    </div>
</div>
