/* You can add global styles to this file, and also import other style files */
/*styling for general body*/
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #313131;
}

.background {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url(assets/back.jpg);
    background-color: #f7f7f7;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: move 80s ease infinite;
    /* Add infinite to loop. */
  
    -ms-animation: move 80s ease infinite;
    -webkit-animation: move 80s ease infinite;
    -0-animation: move 80s ease infinite;
    -moz-animation: move 80s ease infinite;
    position: absolute;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */
    
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    
    -o-transform: scale(1.0);
    /* Opera */
    
    -moz-transform: scale(1.0);
    /* Firefox */
  }
  50% {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /* IE 9 */
    
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    
    -o-transform: scale(1.2);
    /* Opera */
    
    -moz-transform: scale(1.2);
    /* Firefox */
  }
  100% {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */
    
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    
    -o-transform: scale(1.0);
    /* Opera */
    
    -moz-transform: scale(1.0);
    /* Firefox */
  }
}

.frosted:before {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    box-shadow: inset 0 0 0 3000px #18110f0f;
    -webkit-filter: blur(10px);
    filter: blur(8px);
}

.frosted-dark:before {
    box-shadow: inset 0 0 0 3000px #18110f0f;
}

h1 {
    
	font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 64px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 48px;
    color: #323232;
    
    transition: font-size 0.48s ease;
}
h2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 36px;
    color: #323232;
    
    transition: font-size 0.48s ease;
}
h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 36px;
	font-variant: normal;
	font-weight: 100;
	line-height: 28px;
    color: #323232;
        
    transition: font-size 0.48s ease;
}
h4 {
	font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	font-style: oblique;
	font-variant: normal;
	font-weight: 500;
	line-height: 28px;
    color: #f7f7f7;
        
    transition: font-size 0.48s ease;
}

/*effect-underline*/
.effect-underline:after {
  color: #f7f7f7;
  max-width: 500px;
  margin: auto;
/*  margin-top: 0;*/
  margin-bottom: 0;
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 0;
  width: 100%;
  border-bottom: 1px solid;
/*  margin-top: 10px;*/
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.adv-icons {
    position: fixed;
    bottom: 4px;
    font-size: 12px;
    left: 8px;
    color: #cbcbcb;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
}