<!--
<div (mouseenter)="enter()" (mouseleave)="leave()" class="container">
    CONTENT OVER HERE
    <div *ngIf="visible">
        {{contentSelector}}
    </div>
</div>
-->
<div class="turner-r" (click)="turn(0)"></div>
<div class="turner-l" (click)="turn(1)"></div>
<!--[style.backgroundColor]="cont.color"-->
<section class="container" [@enterAnimation]>
    <div id="carousel">
        {{carouselSetUp()}}
        <figure *ngFor="let cont of contentData">
            <img class="logos" [src]="cont.img"/>
        </figure>
    </div>
</section>