:host {
    flex-direction: column;
    padding: 32px !important;
}
.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
#searchInput {
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--main-light-color);
    color: var(--main-light-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 100;
    max-width: 100%;
    transition: all 0.48s ease;
}
#searchInput.blur {
   text-shadow: var(--text-shadow-default);
   color: transparent;
}
#searchInput::-webkit-input-placeholder {
  opacity: 1;
  color: var(--secondary-light-color);
  -webkit-transition: all 0.48s ease;
}
#searchInput.blur::-webkit-input-placeholder {
  opacity: 0;
}

.searchResult {
    color: var(--main-light-color);
    opacity: 0.48;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
    padding: 8px;
    border-bottom: 1px solid transparent;
    transition: all 0.48s ease;
    animation: 0.84s enterResult 1;
    cursor: pointer;
}
.searchResult:hover {
    opacity: 1;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px solid var(--main-light-color);
}
@keyframes enterResult {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.48;
    }
}
.searchWall {
    padding: 32px 0 0 0;    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 320px;
    max-width: 480px;
    width: 100%;
    transition: all 0.48s ease;
}
#searchModalBtn {
    cursor: pointer;
    color: var(--secondary-light-color);
    font-weight: 100;
    font-size: 14px;
    opacity: 0.48;
    transition: all 0.48s ease;
}
#searchModalBtn:hover {
    opacity: 1.0;
    color: var(--main-light-color);
}
#searchModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.24);
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0.0;
    z-index: -1;
    transition: opacity 0.48s ease;
}
#searchModal.show {
    opacity: 1.0;
    z-index: 3000;
}
#searchModal #modalContainer {
    min-width: 300px;
    height: 50vh;
    border-radius: 12px;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.48);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding: 8px;
}

.blur-glass::before {
    content: '';
    height: 50vh;
    min-width: 300px;
    background: inherit;
    position: fixed;
    box-shadow: inset 0 0 0 300px rgba(137, 137, 137, 0.68);
     -webkit-filter: blur(10px); 
    filter: blur(8px);
    border-radius: 12px;
    z-index: -1;
}
#searchModal #modalContainer .featureItem
{
    font-weight: 100;
    font-size: 16px;
    color: black;
    text-shadow: var(--text-shadow-default);
    cursor: pointer;
    transition: all 0.48s ease;
}
#searchModal #modalContainer .featureItem:hover
{
    color: var(--main-light-color);
}
@media screen and (max-width: 400px) 
{
    .searchResult {
        font-size: 16px;
        line-height: 16px;
    }
    .searchResult:hover {
        font-size: 18px;
        line-height: 18px;
    }
}