<!--
<div (mouseenter)="enter()" (mouseleave)="leave()" class="container">
    CONTENT OVER HERE
    <div *ngIf="visible">
        {{contentSelector}}
    </div>
</div>
-->
<img id="turn-right" [src]="getImgPath(0)" (click)="turn(0)">
<img id="turn-left" [src]="getImgPath(1)" (click)="turn(1)">
<!--[style.backgroundColor]="cont.color"-->
<section class="container" [@enterAnimation]>
    <div id="carousel">
        {{carouselSetUp()}}
        <figure *ngFor="let cont of contentData">
            {{cont.id}}
        </figure>
    </div>
</section>