:host, #content_holder {
    width: 100%;    
    margin-top: 100px;
}

.center-content {
    float: none;
}

.divider {
	height: 10px;
	border: 0;
    margin-top: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.content-container {
    position: absolute;
    height: 400px;
/*    height: -webkit-fill-available;*/
    width: 100%;
    overflow: scroll;
/*
    background: #cbcbcb;
    background: -moz-radial-gradient(center, ellipse cover, #cbcbcb 24%, #323232 84%);
    background: -webkit-radial-gradient(center, ellipse cover, #cbcbcb 24%, #323232 84%);
    background: radial-gradient(ellipse at center, #cbcbcb 24%, #323232 84%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#323232',GradientType=1 );
*/
}